<li>
    <span class="user">ユーザー名：<%= link_to post.user.name, post.user %></span>
    <span class="fish">魚種：<%= post.fish%></span>
    <span class="place">釣り場：<%= post.place%></span>
    <span class="content">ひとこと：<%= post.content%>
        <%= image_tag post.display_image if post.image.attached? %>
    </span>
    <span class="delete">
        <% if current_user?(post.user) %>
        <%= link_to "削除", post, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>

        <% end %>
    </span>
    <span class="like" id="like_form_<%= post.id %>">
        <% if post.liked_by.include?(current_user) %>
        <%= render "posts/unlike", post: post %>
        <% else %>
        <%= render "posts/like", post: post %>
        <% end %>
    </span>
</li>